#navigation {
    margin: 10px;
    border-radius: 9px;
    background-color: rgba(235, 235, 235, 0.699);
    box-shadow: inset 6px 6px 10px 0 rgba(49, 48, 48, 0.5), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.829);
}

#dropdown {
    margin: 3%;
    border-radius: 9px;
    background-color: rgba(235, 235, 235, 0.699);
    box-shadow: inset -6px -6px 10px 0 rgba(49, 48, 48, 0.5), inset 6px 6px 10px 0 rgba(255, 255, 255, 0.829);
}

.navbar-item:hover,
.navbar-link:hover {
    color: rgb(17, 102, 230);
    border: 1px 1px 5px black;
    box-shadow: 1px 1px 5px rgba(9, 28, 58, 0.452);
    border-radius: 9px;
}

.navbar-item {
    margin: 2%;
}

.navbar-link {
    border-radius: 9px;
}

#logo:hover {
    color: rgba(17, 102, 230, 0);
    border: 1px 1px 5px rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

#sign-up:hover {
    box-shadow: inset -6px -6px 10px 0 rgba(49, 48, 48, 0.5), inset 6px 6px 10px 0 rgba(255, 255, 255, 0.829);
}


