.registration-form {
  max-width: 550px;
  margin: 0 auto;
  padding: 40px 90px 40px 90px;
  background-color: #d5d2dd;
  border-radius: 5px;
}

.registration-form h2 {
  margin-top: 0;
    margin-bottom: 20px;
    color: #000;
    font-size: 36px;
    text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
    font-weight: bold;
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #8438b7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #363936;
}

/* Optional: Add additional styles to customize the form appearance */
